manifest {
    name = '@hackathon_nf@'
    description = '@hackathon_nf@'
    homePage = '@https://github.com/Annaklumos/Hackathon_NF@'
    author = 'Dalyan Ventura'
    version = '@v0.1@'
    mainScript = 'main.nf'
    nextflowVersion = '>=19.10.0'
}

includeConfig 'conf/base.config'

profiles {
    local {
        includeConfig 'conf/local.config'
    }
    multiconda {
        includeConfig 'conf/multiconda.config'
    }
    docker {
        includeConfig 'conf/docker.config'
    }
}

params {
    help = false
    name = false

}