/*
 * Default for environment options
 */

params {
    pipeline_name = "hackathon_nf"
    config_profile_name = 'Local config'
    config_profile_description = 'Changing the Snakemake workflow into Nextflow workflow'

    // Conda
    condaCacheDir = "$HOME/conda-cache-nextflow"
    output_dir = "$baseDir/results/"
    summaryDir = "${params.output_dir}/summary"
}