/*
 * Default for environment options
 */

params {
    pipeline_name = "hackathon_nf"
    config_profile_name = 'Local config'
    config_profile_description = 'Changing the Snakemake workflow into Nextflow workflow'

    accession = 'SRR8690267'
    ncbi_api_key = '24e61d2d45cab93c6268b0d572d9fe82ac09'
    genome = "$baseDir/data/genome.fa"

    // Conda
    condaCacheDir = "$HOME/conda-cache-nextflow"
    output_dir = "$baseDir/results/"
    summaryDir = "${params.output_dir}/summary"

    // Docker
    dockerCacheDir = "$HOME/docker-cache-nextflow"
}

// executor {
//     withLabel:chrm { queueSize = 1 }
// }