process {
    withName:index {
        container = 'biocontainers/bwa:v0.7.17_cv1'
    }
    withName:align {
        container = 'dukegcb/bwa-samtools:latest'
    }
    withName:annotation {
        container = 'bschiffthaler/gffread:latest'
    }
    withName:mapping {
        container = 'biocontainers/samtools:v1.9-4-deb_cv1'
    }
    withName:counting {
        container = 'evolbioinfo/subread:v2.0.1'
    }
    withName:fastqc {
        container = 'pegi3s/fastqc'
    }
    withName:deseq {
        container = 'kamirab/r_deseq_pca'
    }
}

docker {
    enabled = true
    cacheDir = params.dockerCacheDir
}
