/*
 * -----------------------------------------------
 * Nextflow config file for running local pipeline
 * -----------------------------------------------
 */

params {
    config_profile_name = 'Local config'
    config_profile_description = 'Configuration for running pipeline on a local machine'

}